* {
    font-family: 'Lucida Sans Regular', sans-serif;
}


#status
{
border: 1px solid rgb(220, 255, 255);
width: 50%;
}
#title
{
font-style: italic;
}
button 
{
    color: aqua;
    background-color: black;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.my_tama
{
    border: 4pc solid black;
}